{% extends 'base.html'%}
{% block content%}
<h1>Recipes</h1>
<hr>
<ul>
{% for post in object_list %}
    <li>
        <a href = "{% url 'recipe_detail' post.pk %}">{{post.title}}</a> -
        {{post.author.first_name}}{{post.author.last_name}} - <small>{{post.post_date}}</small> -
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
            <small><a href = "{% url 'update_recipe' post.pk %}" class="link-info">Edit</a></small>
            <small><a href = "{% url 'delete_recipe' post.pk %}" class="link-info">Delete</a></small>
            {% endif %}
        {% endif %}
        <br/>
        {%if post.header_image%}
            <img src="{{post.header_image.url}}" style="width:500px;height:300px;">
        {%endif%}
        <br/>
    </li>
{% endfor %}
</ul>
{% endblock %}
